.top-listen-thumnail {
	background-color: transparent;
	cursor: pointer;
}

.top-listen-thumnail .avt {
	padding: 0;
}
.top-listen-thumnail .title .name {
	font-size: 0.9rem;
	font-weight: 500;
}
.top-listen-thumnail .title .singer {
	font-size: 0.7rem;
	color: grey;
	font-weight: 600;
}

