<div class="new-post" style="width:100%">
    <h3 style="font-weight:400">Nghe nhiều nhất</h3>
    <hr>
    <div class="top-listen" style="width:100%">
        <div class="top-listen-thumnail d-flex mb-3">
            <div class="row">
                <div class="col-md-2" style="padding-right: 0;">
                    <img src="https://data.chiasenhac.com/data/cover/62/61404.jpg" class="img-thumbnail avt" alt="">
                </div>
                <div class="title col-md-10">
                    <div class="name">Gửi anh xa nhớ</div>
                    <div class="singer d-flex justify-content-lg-between">
                        <span>Bích Phương</span>
                        <span>100</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>