<div class="new-post" style="width:100%">
    <h3 style="font-weight:400">Nghe nhiều nhất</h3>
    <hr>
    <div class="top-listen" style="width:100%">
        <div class="top-listen-thumnail d-flex mb-3" *ngFor="let item of topListen">
            <div class="row">
                <div class="col-md-2" style="padding-right: 0;">
                    <img [src]="item.avt" class="img-thumbnail avt" alt="">
                </div>
                <div class="title col-md-10">
                    <div class="name">{{item.name}}</div>
                    <div class="singer d-flex justify-content-lg-between">
                        <span>{{item.singer}}</span>
                        <span>{{item.listen}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>