<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <new-post></new-post>
        </div>
        <div class="col-md-4">
            <song-thumnail [songs]="topListen" [title]="'Nghe nhiều nhất'"></song-thumnail>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <song-thumnail [songs]="topDownload" [title]="'Tải nhiều nhất'"></song-thumnail>
        </div>
        <div class="col-md-4">
            <song-thumnail [songs]="suggest" [title]="'Đề cử'"></song-thumnail>
        </div>
        <div class="col-md-4">
            <top-comment></top-comment>
        </div>
    </div>
</div>